*{ 
  margin:0;
  padding:0;
  box-sizing:border-box;
  
  }
  .header-sec{
	position:fixed;
	background-color: #ffffff; 
	border:1px solid #ffffff;
	padding:10px;
	width:100%;
	z-index:3;
}  
.container{
           margin:auto;
           width:90%;	
		   }
.header-row{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}	 
.a{
	color:black;
    text-decoration:none;
	display:inline-block;
	padding:15px;	 
	font-size:15px;
}
.button1{
	   background-color:#ffffff;
	   color:#005580;
	   padding:10px;
	   border:solid #005580;
	   text-decoration:none;
	   border-radius:5px;
}
.a:hover{
	    color:#005580;
}
.head1{
	   color:#005580;
	   font-size:35px;
}
.button1:hover{
	          background-color:#005580;
	          color:#ffffff;
			  cursor:pointer;
}
  .banner-sec{
	   background:linear-gradient(#3d444596,#060605),url(img/img2.jpg);
	   background-size:cover;
	   padding:120px 0px;
  }
  .banner-container{
	   width:90%;
	   margin:auto;
   }
   .banner-row{
	   display:flex;
   }
   .banner-col1{
	    width:70%;
		align-self:center;
		padding-left:60px;
   }
   
   .banner-icon{
	    font-size:50px;
	    display:flex;
		gap:5%;
		color:#ffffff;
   }
   .banner-icon a{
	   color:#ffffff;
   }
   .box:hover{
	      transform:scale(1.2);
           transition:all 1s;
		   color:#66FCF1;
		    cursor:pointer;
   }
  .banner-head{
        font-size:100px;
		color:#005580;
		padding-bottom:20px;
	
  }
  .banner-para{
	   font-size:35px;
	   color:#ffffff;
	   padding-bottom:20px;
  }
  .banner-span{
	   color:#005580;
  }
  .about-sec{
	   padding:40px 0;
  }
  .about-container{
	   width:90%;
       margin:auto;
  }
  .about-title{
	   text-align:center;
	   color:#00334d;
	   font-size:30px;   
	   position:relative;
  }
  .about-title::after{
	                 content:"";
	                 width:70px;
					 height:2px;
					 background-color:#45A29E;
					 position:absolute;
          			 bottom:0%;
					 left:calc(50% - 30px);
}

  .about-row{
	   display:flex;
	   margin-top:70px;
	   gap:5px;
  }
  .about-col1{
	   width:50%;
  }

  .about-img img{
	  max-width:100%;   
  }
  .about-img{
	   display:flex;
	   justify-content:center;
	   align-items:center;
	   width:80%;
       overflow:hidden;	 
	   border:5px solid #005580;	   

  }
 
    .about-img img:hover{
		  transform:scale(1.1);
           transition:all 1s;
		   z-index:2;
	}
		 
   .about-col2{
	    width:50%;
		font-family: 'Poppins', sans-serif;
  }
  
  strong{
	   font-size:40px;
	   color:#45A29E;
	   padding-right:10px;
  }
  .name{
	   padding-bottom:20px;
	   font-size:25px;
	    color:#C5C6C7;
  }
    .dob{
	   padding-bottom:20px;
	   font-size:25px;
	     color:#C5C6C7;
  }
    .deg{
	   padding-bottom:20px;
	   font-size:25px;
	     color:#C5C6C7;
  }
    .profile{
	   padding-bottom:20px;
	   font-size:25px;
	     color:#C5C6C7;
  }
  .about-cont{
	     font-size:30px;
		 line-height:30px;
		 padding-top:20px;
		  color:#C5C6C7;
  }
  .about-p{
	   padding-top:20px;
  }
  .skill-sec{
	   margin-top:30px;
	   background-color:#ffffff;
	
  }
  .skill-container{
	   margin:auto;
	   width:90%;
  }
  .skill-title{
	   text-align:center;
	   color:#00334d;
	   font-size:30px;   
	   position:relative;
  }
  .skill-title::after{
	                 content:"";
	                 width:70px;
					 height:2px;
					 background-color:#45A29E;
					 position:absolute;
					 bottom:0%;
					 left:calc(50% - 30px);
}
  .skill-row{
	    display:flex;
		margin-top:20px;
  }
  .skill-info {
		   justify-content:center;
		   align-items:center;
		   display:flex;
           		   
  }
  .skill-col1{
	            background:url(img/img43.jpg);
				text-align:center;
				 padding:40px 0; 
				
  }
  .skill-html{
	   display:flex;
  }
   .html-img{
	       font-size:100px;
	       padding:50px 0;
	       width:150px;
		   height:150px;
		   border-radius:50%;
		   background-color:#ffffff;
		   justify-content:center;
		   align-items:center;
		   display:flex; 
  }
  
  .html-cont{
	   font-family: 'Poppins', sans-serif;
	   font-size:40px;
	   align-self:center;
	   line-height:45px;
	   color:#ffffff;
  }
  .html-ico{
	   text-align:center;
	   font-size:40px;
	   color:#ffd11a;
  }
  .skill-col2{
	    background:url(img/img43.jpg);
		text-align:center;
		 padding:40px 0; 
		 
  }
  .css-img{
	   font-size:100px;
	   padding:50px 0;
	   width:150px;
		   height:150px;
		   border-radius:50%;
		   background-color:#ffffff;
		   justify-content:center;
		   align-items:center;
		   display:flex; 
  }
  
  .css-cont{
	  font-family: 'Poppins', sans-serif;
	   font-size:40px;
	   align-self:center;
	   line-height:45px;
	   color:#ffffff;
  }
  .css-ico{
	   text-align:center;
	   font-size:40px;
	   color:#ffd11a;
  }
  .skill-col3{
	   	         background:url(img/img43.jpg);
				 background-repeat:norepeat;
				text-align:center;
				 padding:40px 0; 
  }
  .git-img{
	       font-size:100px;
	       padding:50px 0;
	       width:150px;
		   height:150px;
		   border-radius:50%;
		   background-color:#ffffff;
		   justify-content:center;
		   align-items:center;
		   display:flex; 
  
  } 
  .git-cont{
	   font-size:40px;
	   align-self:center;
	   line-height:45px;
	   color:#ffffff;
	   font-family: 'Poppins', sans-serif;
  }
  .git-ico{
	   text-align:center;
	   font-size:40px;
	   color:#ffd11a;
  }
   .educ-sec{
	   padding:50px 0;
	   margin-top:30px;
	   background-color:#f4f6f6;
	   font-family: 'Roboto Condensed', sans-serif;
  }
   .educ-container{
	   width:90%;
       margin:auto;
  }
  .educ-title{
	   text-align:center;
	   color:#00334d;
	   font-size:30px;  
	   position:relative;	   
  }
  .educ-title::after{
	                 content:"";
	                 width:70px;
					 height:2px;
					 background-color:#45A29E;
					 position:absolute;
					 bottom:0%;
					 left:calc(50% - 30px);
}
  .educ-row{
	   display:flex;
	   margin-top:30px;
	   gap:5%;
  }
  .educ-col1{
	   width:50%;
	   	   padding:10px;
	   background-color:#ffffff;
	   border-radius:25px 25px 25px 25px;
	   border-bottom:5px solid #00334d;
  }
  .educ-col2{
	   width:50%;
	   background-color:#ffffff;
	   padding:10px;
	   border-radius:25px 25px 25px 25px;
	   border-bottom:5px solid #00334d;
  }
  .educ-head1{
      padding-top:20px;
	  color:#005580;
	  font-size:45px;
  }	  
   .educ-head2{
      padding-top:20px;
	  font-size:30px;
	  color:#C5C6C7;
  }	  
   .educ-head{
      padding-top:20px;
	  font-size:35px;
	  color:#005580;
  }	 
   .educ-col1:hover{  

		   box-shadow:0 0 20px #a3c2c2;
   }  
    .educ-col2:hover{  
		   box-shadow:0 0 20px #a3c2c2;
   }  
   .project-sec{
	   padding:50px 0;
	   margin-top:30px;
  }
   .project-container{
	   width:90%;
       margin:auto;
  }
   .project-title{
	   text-align:center;
	   color:#00334d;
	   font-size:30px;
	   position:relative;	   
  }
  .project-title::after{
	                 content:"";
	                 width:70px;
					 height:2px;
					 background-color:#45A29E;
					 position:absolute;
					 bottom:0%;
					 left:calc(50% - 30px);
}

  .project-row{
	   display:flex;
	  justify-content:center;
	  align-items:center;
	  margin-top:30px;
  }
  .project-col{
        width:50%;
	
  }
  .project-img img{
	   max-width:100%;
  }
  .project-cont{
	   text-align:center;
	   font-size:30px;
	   color:#005580;
	  
  }
  .project-button{
	   padding-top:20px;
  }
  .button{ 
             padding:10px 35px;
             text-decoration:none;
             color:#ffffff;
			 border-radius:15px;
			 background-color:#005580;
			
}
  .button:hover{
	          filter:grayscale(25%);
			   cursor:pointer;
}
  .contact-sec{
	   padding:50px 0;
	   margin-top:30px;
	   background-color:#f4f6f6;
  }
   .contact-container{
	   width:90%;
       margin:auto;
  }
   .contact-title{
	   text-align:center;
	   color:#00334d;
	   font-size:30px;
	   position:relative;	   
  }
  .contact-title::after{
	                 content:"";
	                 width:70px;
					 height:2px;
					 background-color:#45A29E;
					 position:absolute;
					 bottom:0%;
					 left:calc(50% - 30px);
}
  .contact-row{
	   display:flex;
	   gap:2%;
	   margin-top:30px;	
  }
  .contact-col{
	    width:25%;
		text-align:center;
		border:5px solid #aaa;
		border-radius:15% 5% 15% 5%;
		padding-bottom:20px;
		background-color:#ffffff;
		font-family: 'Montserrat', sans-serif;
  }
  .contact-ico {
		   justify-content:center;
		   align-items:center;
		   display:flex;
           padding-top:20px;		   
  }
  .contact-wrapper{
	       width:80px;
		   height:80px;
		   border-radius:50%;
		   background-color:#f0f5f5;
		   font-size:40px;
		   justify-content:center;
		   align-items:center;
		   display:flex;
		   color:#005580;
  }
  .contact-cont{
	   line-height:25px; 
	   padding-top:20px;
	   font-size:19px;
	   color:#005580;
  }
  .contact-cont a{
  	   text-decoration:none;
	   color:#005580;
	   font-size:20px;
  }
  .contact-col:hover{
	       transform:scale(1.1);
           transition:all 1s;
		   background: #b3b3b3;
		   cursor:pointer;
  }
  .contact-col:hover .contact-wrapper{
             background-color:#005580;
			 		   color:#f0f5f5;
					    cursor:pointer;
  }
  .footer-sec{
	   padding:40px 0;
	   margin-top:20px;
	   background-color: #00264d;
	   text-align:center;
	   color:#ffffff;
  }
  .footer-container{
	  width:90%;
	  margin:auto;
  }
  @media(min-width:320px){
	   /*banner sec*/
	      .container{
			   width:100%;
			   margin:auto;
		  }
		  .banner-row{
			   display:flex;
		  }
		  .banner-col1{
			width:100%;
	        text-align:center;
			padding:30px 0;
}
 .banner-icon{
	     display:flex;
		 justify-content:center;
		 align-items:center;
	   }
/*about sec*/    
	 .about-container{
			   width:90%;
			   margin:auto;
		  }
		  .about-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .about-col1{
                width:100%;
			
}
		  .about-col2{
                width:100%;
}
      /*educ sec*/    
	 .educ-container{
			   width:90%;
			   margin:auto;
		  }
		  .educ-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .educ-col1{
                width:100%;
				margin-bottom:10px;
			
}
		  .educ-col2{
                width:100%;
}
   /*project sec*/    
	 .project-container{
			   width:90%;
			   margin:auto;
		  }
		  .project-row{
			   display:flex;
			   		  }
		  .project-col{
                width:100%;
}
  /*contact sec*/    
	 .contact-container{
			   width:90%;
			   margin:auto;
		  }
		  .contact-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .contact-col{
                width:100%;
				margin-bottom:10px;
}

	  @media(min-width:690px){
	   /*banner sec*/
	      .container{
			   width:100%;
			   margin:auto;
		  }
		  .banner-row{
			   display:flex;
		  }
		  .banner-col1{
			width:100%;
	        text-align:center;
			padding:30px 0;
}
    /*about sec*/    
	 .about-container{
			   width:90%;
			   margin:auto;
		  }
		  .about-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .about-col1{
                width:100%;
			
}
		  .about-col2{
                width:100%;
}
      /*educ sec*/    
	 .educ-container{
			   width:90%;
			   margin:auto;
		  }
		  .educ-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .educ-col1{
                width:100%;
			
}
		  .educ-col2{
                width:100%;
}
/*project sec*/    
	 .project-container{
			   width:90%;
			   margin:auto;
		  }
		  .project-row{
			   display:flex;
			   		  }
		  .project-col{
                width:100%;
}
  /*contact sec*/    
	 .contact-container{
			   width:90%;
			   margin:auto;
		  }
		  .contact-row{
			   display:flex;
			   flex-wrap:wrap;
		  }
		  .contact-col{
                width:100%;
}
  @media(min-width:1020px){
	   /*banner sec*/
	      .container{
			   width:100%;
			   margin:auto;
		  }
		  .banner-row{
			   display:flex;
		  }
		  .banner-col1{
			width:100%;
	        align-self:center;
		    padding-left:60px;
			text-align:left;
          }
    .banner-icon{
	     display:flex;
		 justify-content:left;
		 align-items:left;
	   }
    /*about sec*/    
	 .about-container{
			   width:90%;
			   margin:auto;
		  }
		  .about-row{
			   display:flex;
			   flex-wrap:nowrap;
		  }
		  .about-col1{
                width:50%;
			
}
		  .about-col2{
                width:50%;
}
      /*educ sec*/    
	 .educ-container{
			   width:90%;
			   margin:auto;
		  }
		  .educ-row{
			   display:flex;
			   flex-wrap:nowrap;
		  }
		  .educ-col1{
                width:50%;
			
}
		  .educ-col2{
                width:50%;
}
/*project sec*/    
	 .project-container{
			   width:90%;
			   margin:auto;
		  }
		  .project-row{
			   display:flex;
			   		  }
		  .project-col{
                width:50%;
}
  /*contact sec*/    
	 .contact-container{
			   width:90%;
			   margin:auto;
		  }
		  .contact-row{
			   display:flex;
			   flex-wrap:nowrap;
		  }
		  .contact-col{
                width:25%;
}